<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://ro.industrial-illusions.net/files/Downloads/Full%20kRO%20Clients/kRO_FullClient_20180327.zip" class="btn">Descargar kRO</a>
  <a href="https://drive.google.com/uc?export=download&amp;confirm=AQuU&amp;id=1r_s9dcGDhNQRcbJXrVsS4NlIeD4-ecau" class="btn">Descargar Instalador</a>
  <a href="https://drive.google.com/uc?export=download&confirm=8GFt&id=1UAEGjOhtCN_aAi-q7ORq60zsxfpHKuAm" class="btn">Descargar .rar</a>
</section>
